<section class="about-area pb-60 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 mb-40">
                <div class="section-title">
                    <h2>About Us</h2>
                </div>
                <div class="about-content">
                    <p>
                        Being a customer-focused company, we do our best to make our processes as clear and transparent for you as possible. We follow the industry best practices and always commit to deliver a predictable high quality & on-time result that you expect from your development partner.

                        We place the major focus on delivering secure & reliable solutions of long-term value that enable our customers to concentrate on their core business objectives.                        
                    </p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-20 md-margin">
                <div class="row">
                    <div class="col-xl-6 col-md-6 mb-20">
                        <div class="about-img">
                            <img src="{{site.baseurl}}/assets/img/about/about1.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 mb-20">
                        <div class="about-img">
                            <img src="{{site.baseurl}}/assets/img/about/about2.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>